In [12]:
#instalando os pacotes necessários
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable

DEPRECATION: omegaconf 2.0.6 has a non-standard dependency specifier PyYAML>=5.1.*. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of omegaconf or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

Requirement already satisfied: pandas in c:\users\freda\appdata\roaming\python\python310\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\freda\appdata\roaming\python\python310\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\freda\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\freda\appdata\roaming\python\python310\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\freda\appdata\roaming\python\python310\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\freda\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
#Importando as bibliotecas
import pandas as pd

In [14]:
#Lendo o arquivo
df = pd.read_csv(r'c:\Repos\tcc-bruna\Servidores-2024 .csv')

In [15]:
def clean_data(df):
    # Drop columns: 'REGISTRO', 'NOME'
    df = df.drop(columns=['REGISTRO', 'NOME','SEGMENTO','SECRET_SUBPREF'])
    return df

In [71]:
df_clean = clean_data(df.copy())
df_clean.head()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CARGO_BASICO        349 non-null    object
 1   SUBGRUPO            349 non-null    object
 2   ESCOL_CARGO_BASICO  349 non-null    object
 3   CARGO_COMISSAO      69 non-null     object
 4   DATA_INICIO_EXERC   349 non-null    object
 5   REL_JUR_ADM         349 non-null    object
 6   SETOR               349 non-null    object
 7   SEXO                349 non-null    object
 8   ANO_NASCIMENTO      349 non-null    int64
dtypes: int64(1), object(8)
memory usage: 24.7+ KB

In [34]:

##Identificar os valores distinros da coluna 'SETOR'
setores_dist = df_clean['SETOR'].unique()

##Identidicar dentre esses valores, QUANTOS começam com a palavra BIBLIOTECA
bibliotecas = [setor for setor in setores_dist if setor.startswith('BIBLIOTECA')]
##Ordenar a lista de bibliotecas em ordem alfabética
bibliotecas.sort()

##Remover as linhas cuja variável 'SETOR' é BIBLIOTECA MUNICIPAL MARIO DE ANDRADE , BIBLIOTECA PUBLICA MUNICIPAL LOUIS BRAILLE E BIBLIOTECA PUBLICA MUNICIPAL SERGIO MILLIET
# df_clean = df_clean[df_clean['SETOR'] != 'BIBLIOTECA MUNICIPAL MARIO DE ANDRADE']
# df_clean = df_clean[df_clean['SETOR'] != 'BIBLIOTECA PUBLICA MUNICIPAL LOUIS BRAILLE']
# df_clean = df_clean[df_clean['SETOR'] != 'BIBLIOTECA PUBLICA MUNICIPAL SERGIO MILLIET']


print(f'Quantidade de setores que começam com a palavra BIBLIOTECA: {len(bibliotecas)}')

for item in bibliotecas:
    print(item)

##Contar quantas vezes cada valor da coluna 'SETOR' aparece no DataFrame, e criar uma lista de tuplas, onde cada tupla contém o valor da coluna 'SETOR' e a quantidade de vezes que ele aparece no DataFrame
setores_count = df_clean['SETOR'].value_counts()
setores_count = setores_count.reset_index()
setores_count.columns = ['SETOR', 'COUNT']
setores_count = setores_count.sort_values(by='COUNT', ascending=False)
print(setores_count)

Quantidade de setores que começam com a palavra BIBLIOTECA: 54
BIBLIOTECA PUBLICA MUNICIPAL ADELPHA FIGUEIREDO
BIBLIOTECA PUBLICA MUNICIPAL AFFONSO TAUNAY
BIBLIOTECA PUBLICA MUNICIPAL AFONSO SCHIMIDT
BIBLIOTECA PUBLICA MUNICIPAL ALCEU AMOROSO LIMA
BIBLIOTECA PUBLICA MUNICIPAL ALVARES DE AZEVEDO
BIBLIOTECA PUBLICA MUNICIPAL ALVARO GUERRA
BIBLIOTECA PUBLICA MUNICIPAL AMADEU AMARAL
BIBLIOTECA PUBLICA MUNICIPAL ANNE FRANK
BIBLIOTECA PUBLICA MUNICIPAL AURELIANO LEITE
BIBLIOTECA PUBLICA MUNICIPAL BELMONTE
BIBLIOTECA PUBLICA MUNICIPAL BRITO BROCA
BIBLIOTECA PUBLICA MUNICIPAL CAMILA CERQUEIRA CESA
BIBLIOTECA PUBLICA MUNICIPAL CASSIANO RICARDO
BIBLIOTECA PUBLICA MUNICIPAL CASTRO ALVES
BIBLIOTECA PUBLICA MUNICIPAL CHACARA DO CASTELO
BIBLIOTECA PUBLICA MUNICIPAL CLARICE LISPECTOR
BIBLIOTECA PUBLICA MUNICIPAL CORA CORALINA
BIBLIOTECA PUBLICA MUNICIPAL ERICO VERISSIMO
BIBLIOTECA PUBLICA MUNICIPAL GILBERTO FREYRE
BIBLIOTECA PUBLICA MUNICIPAL HANS CHRISTIAN ANDER
BIBLIOTECA PUBLICA MUNICIPAL HELENA SILVEIRA
BIBLIOTECA PUBLICA MUNICIPAL JAMIL ALMANSUR HADDA
BIBLIOTECA PUBLICA MUNICIPAL JAYME CORTEZ
BIBLIOTECA PUBLICA MUNICIPAL JOSE MAURO DE VASCON
BIBLIOTECA PUBLICA MUNICIPAL JOSE PAULO PAES
BIBLIOTECA PUBLICA MUNICIPAL JOVINA ROCHA ALVARES
BIBLIOTECA PUBLICA MUNICIPAL LENYRA FRACCAROLI
BIBLIOTECA PUBLICA MUNICIPAL MALBA TAHAN
BIBLIOTECA PUBLICA MUNICIPAL MARCOS REY
BIBLIOTECA PUBLICA MUNICIPAL MARIO SCHENBERG
BIBLIOTECA PUBLICA MUNICIPAL MENOTTI DEL PICCHIA
BIBLIOTECA PUBLICA MUNICIPAL MILTON SANTOS
BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO
BIBLIOTECA PUBLICA MUNICIPAL NARBAL FONTES
BIBLIOTECA PUBLICA MUNICIPAL NUTO SANT'ANNA
BIBLIOTECA PUBLICA MUNICIPAL PAULO DUARTE
BIBLIOTECA PUBLICA MUNICIPAL PAULO SERGIO DUARTE M
BIBLIOTECA PUBLICA MUNICIPAL PAULO SETUBAL
BIBLIOTECA PUBLICA MUNICIPAL PE. JOSE DE ANCHIETA
BIBLIOTECA PUBLICA MUNICIPAL PEDRO NAVA
BIBLIOTECA PUBLICA MUNICIPAL PREFEITO PRESTES MAI
BIBLIOTECA PUBLICA MUNICIPAL PROF ARNALDO MAGALHAE
BIBLIOTECA PUBLICA MUNICIPAL RAIMUNDO DE MENEZES
BIBLIOTECA PUBLICA MUNICIPAL RAUL BOPP
BIBLIOTECA PUBLICA MUNICIPAL RICARDO RAMOS
BIBLIOTECA PUBLICA MUNICIPAL ROBERTO SANTOS
BIBLIOTECA PUBLICA MUNICIPAL RUBENS BORBA ALVES DE
BIBLIOTECA PUBLICA MUNICIPAL SERGIO BUARQUE DE HOL
BIBLIOTECA PUBLICA MUNICIPAL SYLVIA ORTHOF
BIBLIOTECA PUBLICA MUNICIPAL THALES CASTANHO DE AN
BIBLIOTECA PUBLICA MUNICIPAL VICENTE DE CARVALHO
BIBLIOTECA PUBLICA MUNICIPAL VICENTE PAULO GUIMARA
BIBLIOTECA PUBLICA MUNICIPAL VINICIUS DE MORAES
BIBLIOTECA PUBLICA MUNICIPAL VIRIATO CORREA
                                                SETOR  COUNT
0                           SUPERVISAO DE BIBLIOTECAS     36
1     COORDENACAO DO SISTEMA MUNICIPAL DE BIBLIOTECAS     14
2        BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO     12
3        BIBLIOTECA PUBLICA MUNICIPAL AFONSO SCHIMIDT     11
4    BIBLIOTECA PUBLICA MUNICIPAL RAIMUNDO DE MENEZES      9
5   BIBLIOTECA PUBLICA MUNICIPAL JOVINA ROCHA ALVARES      8
6   BIBLIOTECA PUBLICA MUNICIPAL PE. JOSE DE ANCHIETA      8
7          BIBLIOTECA PUBLICA MUNICIPAL RICARDO RAMOS      8
8     BIBLIOTECA PUBLICA MUNICIPAL ALVARES DE AZEVEDO      8
9     BIBLIOTECA PUBLICA MUNICIPAL VINICIUS DE MORAES      8
10         BIBLIOTECA PUBLICA MUNICIPAL CORA CORALINA      7
11  BIBLIOTECA PUBLICA MUNICIPAL HANS CHRISTIAN ANDER      7
17   BIBLIOTECA PUBLICA MUNICIPAL MENOTTI DEL PICCHIA      6
20   BIBLIOTECA PUBLICA MUNICIPAL VICENTE DE CARVALHO      6
19        BIBLIOTECA PUBLICA MUNICIPAL ROBERTO SANTOS      6
18  BIBLIOTECA PUBLICA MUNICIPAL PREFEITO PRESTES MAI      6
14  BIBLIOTECA PUBLICA MUNICIPAL JOSE MAURO DE VASCON      6
16        BIBLIOTECA PUBLICA MUNICIPAL VIRIATO CORREA      6
15  BIBLIOTECA PUBLICA MUNICIPAL JAMIL ALMANSUR HADDA      6
13     BIBLIOTECA PUBLICA MUNICIPAL LENYRA FRACCAROLI      6
12            BIBLIOTECA PUBLICA MUNICIPAL ANNE FRANK      6
37       BIBLIOTECA PUBLICA MUNICIPAL MARIO SCHENBERG      5
36          BIBLIOTECA PUBLICA MUNICIPAL CASTRO ALVES      5
35           BIBLIOTECA PUBLICA MUNICIPAL MALBA TAHAN      5
34  BIBLIOTECA PUBLICA MUNICIPAL CAMILA CERQUEIRA ...      5
33           BIBLIOTECA PUBLICA MUNICIPAL BRITO BROCA      5
32       BIBLIOTECA PUBLICA MUNICIPAL AURELIANO LEITE      5
31    BIBLIOTECA PUBLICA MUNICIPAL ALCEU AMOROSO LIMA      5
30       BIBLIOTECA PUBLICA MUNICIPAL HELENA SILVEIRA      5
29            BIBLIOTECA PUBLICA MUNICIPAL MARCOS REY      5
28       BIBLIOTECA PUBLICA MUNICIPAL ERICO VERISSIMO      5
26                    NUCLEO DE BIBLIOTECAS ESPECIAIS      5
25  BIBLIOTECA PUBLICA MUNICIPAL SERGIO BUARQUE DE...      5
24  BIBLIOTECA PUBLICA MUNICIPAL RUBENS BORBA ALVE...      5
23  BIBLIOTECA PUBLICA MUNICIPAL PAULO SERGIO DUAR...      5
22    BIBLIOTECA PUBLICA MUNICIPAL ADELPHA FIGUEIREDO      5
21  BIBLIOTECA PUBLICA MUNICIPAL VICENTE PAULO GUI...      5
27            BIBLIOTECA PUBLICA MUNICIPAL PEDRO NAVA      5
42              BIBLIOTECA PUBLICA MUNICIPAL BELMONTE      4
45         BIBLIOTECA PUBLICA MUNICIPAL NARBAL FONTES      4
43  BIBLIOTECA PUBLICA MUNICIPAL THALES CASTANHO D...      4
44        BIBLIOTECA PUBLICA MUNICIPAL NUTO SANT'ANNA      4
41       BIBLIOTECA PUBLICA MUNICIPAL JOSE PAULO PAES      4
39     BIBLIOTECA PUBLICA MUNICIPAL CLARICE LISPECTOR      4
38        BIBLIOTECA PUBLICA MUNICIPAL AFFONSO TAUNAY      4
40         BIBLIOTECA PUBLICA MUNICIPAL MILTON SANTOS      4
49      BIBLIOTECA PUBLICA MUNICIPAL CASSIANO RICARDO      3
52         BIBLIOTECA PUBLICA MUNICIPAL SYLVIA ORTHOF      3
51  BIBLIOTECA PUBLICA MUNICIPAL PROF ARNALDO MAGA...      3
50             BIBLIOTECA PUBLICA MUNICIPAL RAUL BOPP      3
48         BIBLIOTECA PUBLICA MUNICIPAL PAULO SETUBAL      3
47         BIBLIOTECA PUBLICA MUNICIPAL AMADEU AMARAL      3
46          BIBLIOTECA PUBLICA MUNICIPAL JAYME CORTEZ      3
53          BIBLIOTECA PUBLICA MUNICIPAL PAULO DUARTE      2
54    BIBLIOTECA PUBLICA MUNICIPAL CHACARA DO CASTELO      2
55         BIBLIOTECA PUBLICA MUNICIPAL ALVARO GUERRA      2
56       BIBLIOTECA PUBLICA MUNICIPAL GILBERTO FREYRE      2
57  NUCLEO REGIONAL DE BIBLIOTECAS CENTRO, NORTE E...      2
58         NUCLEO REGIONAL DE BIBLIOTECAS LESTE E SUL      1

In [41]:
## Contar a quantidade de observações cujo valor na coluna 'SEXO' É 'MASCULINO' e o valor na coluna 'ANO_NASCIMENTO' é menor ou igual a 1959
masc_1959 = df_clean[(df_clean['SEXO'] == 'M') & (df_clean['ANO_NASCIMENTO'] <= 1959)].shape[0]
print(f'Quantidade de servidores do sexo masculino que completarão 65 anos em 2024: {masc_1959}')
fem_1959 = df_clean[(df_clean['SEXO'] == 'F') & (df_clean['ANO_NASCIMENTO'] <= 1962)].shape[0]
print(f'Quantidade de servidores do sexo feminino que completarão 62 anos em 2024: {fem_1959}')

Quantidade de servidores do sexo masculino que completarão 65 anos em 2024: 27
Quantidade de servidores do sexo feminino que completarão 62 anos em 2024: 51

In [45]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339 entries, 0 to 348
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CARGO_BASICO        339 non-null    object
 1   SUBGRUPO            339 non-null    object
 2   ESCOL_CARGO_BASICO  339 non-null    object
 3   CARGO_COMISSAO      68 non-null     object
 4   DATA_INICIO_EXERC   339 non-null    object
 5   REL_JUR_ADM         339 non-null    object
 6   SETOR               339 non-null    object
 7   SEXO                339 non-null    object
 8   ANO_NASCIMENTO      339 non-null    int64
dtypes: int64(1), object(8)
memory usage: 26.5+ KB

In [70]:

df_clean['DATA_INICIO_EXERC'] = pd.to_datetime(df_clean['DATA_INICIO_EXERC'], dayfirst=True, errors='coerce')

# Verificar se alguma data não pôde ser convertida
invalid_dates = df_clean[df_clean['DATA_INICIO_EXERC'].isna()]
# print(invalid_dates)

for index, row in invalid_dates.iterrows():
    print(f"Index: {index}, Date: {row['DATA_INICIO_EXERC']}")

# Exibir entradas inválidas para inspeção
# print("Entradas inválidas:", invalid_dates)

##Printar a linha 102
# print(df_clean.iloc[102])

##Contar quantos servidores ingressaram antes de 18/03/2022, considerando que os valores estão no formato 'DD/MM/YYYY' ou 'D/M/YYYY'
# df_clean['DATA_INICIO_EXERC'] = pd.to_datetime(df_clean['DATA_INICIO_EXERC'], dayfirst=True)  

# entrou_antes_de_18_03_2022 = df_clean[df_clean[' DATA_INICIO_EXERC'] < '2022-03-18'].shape[0]
# print(f'Quantidade de servidores que ingressaram antes de 18/03/2022: {entrou_antes_de_18_03_2022}')

Index: 102, Date: NaT