In [1]:
#Instalando as bibliotecas
#%pip install pandas

## Importar as bibliotecas
import pandas as pd

In [18]:
## Carregar o arquivo xlsx
df = pd.read_excel(r'C:\Repos\tcc-bruna\verificadoativos07-05-2019abr-2019.xlsx')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121832 entries, 0 to 121831
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   REGISTRO              121832 non-null  int64
 1   VINCULO               121832 non-null  int64
 2   NOME                  121832 non-null  object
 3   CARGO_BASICO          121716 non-null  object
 4   REF_CARGO_BAS         121716 non-null  object
 5   SEGMENTO              55116 non-null   object
 6   GRUPO                 121832 non-null  object
 7   SUBGRUPO              121832 non-null  object
 8   ESCOL_CARGO_BASICO    121832 non-null  object
 9   CARGO_COMISSAO        8250 non-null    object
 10  REF_CARGO_COM         8250 non-null    object
 11  ESCOL_CARGO_COMISSAO  8250 non-null    object
 12  DATA_INICIO_EXERC     121832 non-null  datetime64[ns]
 13  REL_JUR_ADM           121832 non-null  object
 14  SECRET_SUBPREF        121830 non-null  object
 15  SETOR                 121830 non-null  object
 16  SEXO                  121832 non-null  object
 17  ANO_NASCIMENTO        121832 non-null  int64
 18  RACA                  121832 non-null  object
 19  DEFICIENTE            121832 non-null  object
dtypes: datetime64[ns](1), int64(3), object(16)
memory usage: 18.6+ MB

In [9]:
## Verificar o formato dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130776 entries, 0 to 130777
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   REGISTRO              130776 non-null  object
 1   VINCULO               130776 non-null  object
 2   NOME                  130776 non-null  object
 3   CARGO_BASICO          130751 non-null  object
 4   REF_CARGO_BAS         130751 non-null  object
 5   SEGMENTO              44665 non-null   object
 6   GRUPO                 130776 non-null  object
 7   SUBGRUPO              130776 non-null  object
 8   ESCOL_CARGO_BASICO    130776 non-null  object
 9   CARGO_COMISSAO        7327 non-null    object
 10  REF_CARGO_COM         7327 non-null    object
 11  ESCOL_CARGO_COMISSAO  7327 non-null    object
 12  JORNADA               130776 non-null  object
 13  DATA_INICIO_EXERC     130776 non-null  object
 14  REL_JUR_ADM           130776 non-null  object
 15  SECRET_SUBPREF        130776 non-null  object
 16  SETOR                 130776 non-null  object
 17  ORGAO_EXT             1242 non-null    object
 18  SEXO                  130776 non-null  object
 19  ANO_NASCIMENTO        130776 non-null  object
 20  RACA                  130774 non-null  object
 21  DEFICIENTE            130774 non-null  object
dtypes: object(22)
memory usage: 22.9+ MB

In [19]:
## Verificar a quantidade de valores nulos
df.isnull().sum()
## Remover as linhas que possuem valor nulo na coluna 'SETOR'
df = df.dropna(subset=['SETOR'])

In [20]:
## Selecionar as linhas que utilizaremos na análise
## Vamos remover todas as observações que não possuem a substring ''BIBLIOTECA'' na coluna 'SETOR'
df_bibliotecas = df[df['SETOR'].str.contains('BIBLIOTECA')]

In [21]:
## Verificar o formato dos dados resultantes
df_bibliotecas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, 151 to 121748
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REGISTRO              386 non-null    int64
 1   VINCULO               386 non-null    int64
 2   NOME                  386 non-null    object
 3   CARGO_BASICO          386 non-null    object
 4   REF_CARGO_BAS         386 non-null    object
 5   SEGMENTO              363 non-null    object
 6   GRUPO                 386 non-null    object
 7   SUBGRUPO              386 non-null    object
 8   ESCOL_CARGO_BASICO    386 non-null    object
 9   CARGO_COMISSAO        75 non-null     object
 10  REF_CARGO_COM         75 non-null     object
 11  ESCOL_CARGO_COMISSAO  75 non-null     object
 12  DATA_INICIO_EXERC     386 non-null    datetime64[ns]
 13  REL_JUR_ADM           386 non-null    object
 14  SECRET_SUBPREF        386 non-null    object
 15  SETOR                 386 non-null    object
 16  SEXO                  386 non-null    object
 17  ANO_NASCIMENTO        386 non-null    int64
 18  RACA                  386 non-null    object
 19  DEFICIENTE            386 non-null    object
dtypes: datetime64[ns](1), int64(3), object(16)
memory usage: 63.3+ KB

In [22]:
##Remover as linhas cuja variável 'SETOR' é BIBLIOTECA MUNICIPAL MARIO DE ANDRADE , BIBLIOTECA PUBLICA MUNICIPAL LOUIS BRAILLE, BIBLIOTECA PUBLICA MUNICIPAL SERGIO MILLIET, BIBLIOTECA JOAO CABRAL DE MELO NETO (CEU), BIBLIOTECA JORNALISTA ROBERTO MARINHO (CEU) e BIBLIOTECA RACHEL DE QUEIROZ (CEU)
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA MUNICIPAL MARIO DE ANDRADE')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA PUBLICA MUNICIPAL LOUIS BRAILLE')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA PUBLICA MUNICIPAL SERGIO MILLIET')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA JOAO CABRAL DE MELO NETO')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA JORNALISTA ROBERTO MARINHO')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA RACHEL DE QUEIROZ')]

In [23]:
##Mostar a lista de bibliotecas distinta
df_bibliotecas['SETOR'].unique()

##Mostrar as informações dos setores
setores_contagem = df_bibliotecas['SETOR'].value_counts()
setores_contagem = setores_contagem.reset_index()
setores_contagem.columns = ['SETOR', 'QUANTIDADE']
setores_contagem = setores_contagem.sort_values(by='QUANTIDADE', ascending=False)
print(setores_contagem)

                                                SETOR  QUANTIDADE
0                           SUPERVISAO DE BIBLIOTECAS          44
2     BIBLIOTECA PUBLICA MUNICIPAL ADELPHA FIGUEIREDO          14
1     COORDENACAO DO SISTEMA MUNICIPAL DE BIBLIOTECAS          14
3   BIBLIOTECA PUBLICA MUNICIPAL PREFEITO PRESTES MAI          13
4        BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO          13
5        BIBLIOTECA PUBLICA MUNICIPAL AFONSO SCHIMIDT          12
6        BIBLIOTECA PUBLICA MUNICIPAL ERICO VERISSIMO           8
7   BIBLIOTECA PUBLICA MUNICIPAL RUBENS BORBA ALVE...           8
11   BIBLIOTECA PUBLICA MUNICIPAL RAIMUNDO DE MENEZES           7
13    BIBLIOTECA PUBLICA MUNICIPAL VINICIUS DE MORAES           7
12  BIBLIOTECA PUBLICA MUNICIPAL JOVINA ROCHA ALVARES           7
10     BIBLIOTECA PUBLICA MUNICIPAL LENYRA FRACCAROLI           7
9   BIBLIOTECA PUBLICA MUNICIPAL HANS CHRISTIAN ANDER           7
8         BIBLIOTECA PUBLICA MUNICIPAL NUTO SANT'ANNA           7
21            BIBLIOTECA PUBLICA MUNICIPAL ANNE FRANK           6
26    BIBLIOTECA PUBLICA MUNICIPAL ALVARES DE AZEVEDO           6
25         BIBLIOTECA PUBLICA MUNICIPAL NARBAL FONTES           6
24  BIBLIOTECA PUBLICA MUNICIPAL PAULO SERGIO DUAR...           6
23       BIBLIOTECA PUBLICA MUNICIPAL MARIO SCHENBERG           6
22   BIBLIOTECA PUBLICA MUNICIPAL VICENTE DE CARVALHO           6
15       BIBLIOTECA PUBLICA MUNICIPAL JOSE PAULO PAES           6
20    BIBLIOTECA PUBLICA MUNICIPAL ALCEU AMOROSO LIMA           6
19         BIBLIOTECA PUBLICA MUNICIPAL RICARDO RAMOS           6
18  BIBLIOTECA PUBLICA MUNICIPAL CAMILA CERQUEIRA ...           6
17       BIBLIOTECA PUBLICA MUNICIPAL AURELIANO LEITE           6
16          BIBLIOTECA PUBLICA MUNICIPAL CASTRO ALVES           6
14        BIBLIOTECA PUBLICA MUNICIPAL ROBERTO SANTOS           6
32           BIBLIOTECA PUBLICA MUNICIPAL BRITO BROCA           5
35  BIBLIOTECA PUBLICA MUNICIPAL THALES CASTANHO D...           5
34      BIBLIOTECA PUBLICA MUNICIPAL CASSIANO RICARDO           5
33  BIBLIOTECA PUBLICA MUNICIPAL JAMIL ALMANSUR HADDA           5
29  BIBLIOTECA PUBLICA MUNICIPAL SERGIO BUARQUE DE...           5
31  BIBLIOTECA PUBLICA MUNICIPAL PE. JOSE DE ANCHIETA           5
28            BIBLIOTECA PUBLICA MUNICIPAL MARCOS REY           5
27  BIBLIOTECA PUBLICA MUNICIPAL VICENTE PAULO GUI...           5
30     BIBLIOTECA PUBLICA MUNICIPAL CLARICE LISPECTOR           5
43        BIBLIOTECA PUBLICA MUNICIPAL VIRIATO CORREA           4
50         BIBLIOTECA PUBLICA MUNICIPAL SYLVIA ORTHOF           4
49         BIBLIOTECA PUBLICA MUNICIPAL CORA CORALINA           4
48         BIBLIOTECA PUBLICA MUNICIPAL MILTON SANTOS           4
47           BIBLIOTECA PUBLICA MUNICIPAL MALBA TAHAN           4
46         BIBLIOTECA PUBLICA MUNICIPAL AMADEU AMARAL           4
44              BIBLIOTECA PUBLICA MUNICIPAL BELMONTE           4
45          BIBLIOTECA PUBLICA MUNICIPAL PAULO DUARTE           4
42             BIBLIOTECA PUBLICA MUNICIPAL RAUL BOPP           4
41   BIBLIOTECA PUBLICA MUNICIPAL MENOTTI DEL PICCHIA           4
40       BIBLIOTECA PUBLICA MUNICIPAL HELENA SILVEIRA           4
39       BIBLIOTECA PUBLICA MUNICIPAL GILBERTO FREYRE           4
38        BIBLIOTECA PUBLICA MUNICIPAL AFFONSO TAUNAY           4
37         BIBLIOTECA PUBLICA MUNICIPAL PAULO SETUBAL           4
36  BIBLIOTECA PUBLICA MUNICIPAL JOSE MAURO DE VASCON           4
51            BIBLIOTECA PUBLICA MUNICIPAL PEDRO NAVA           3
52         BIBLIOTECA PUBLICA MUNICIPAL ALVARO GUERRA           3
53                    NUCLEO DE BIBLIOTECAS ESPECIAIS           2
54         NUCLEO REGIONAL DE BIBLIOTECAS LESTE E SUL           1
55  BIBLIOTECA PUBLICA MUNICIPAL PROF ARNALDO MAGA...           1
56  NUCLEO REGIONAL DE BIBLIOTECAS CENTRO, NORTE E...           1
57    BIBLIOTECA PUBLICA MUNICIPAL CHACARA DO CASTELO           1

In [26]:
##Removendo as colunas que não serão utilizada

bibliotecas = df_bibliotecas.drop(columns=['VINCULO', 'REF_CARGO_BAS', 'GRUPO', 'REF_CARGO_COM', 'ESCOL_CARGO_COMISSAO', 'RACA', 'DEFICIENTE'])

In [27]:
##Info da base de dados limpa
bibliotecas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 363 entries, 151 to 121748
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            363 non-null    int64
 1   NOME                363 non-null    object
 2   CARGO_BASICO        363 non-null    object
 3   SEGMENTO            346 non-null    object
 4   SUBGRUPO            363 non-null    object
 5   ESCOL_CARGO_BASICO  363 non-null    object
 6   CARGO_COMISSAO      72 non-null     object
 7   DATA_INICIO_EXERC   363 non-null    datetime64[ns]
 8   REL_JUR_ADM         363 non-null    object
 9   SECRET_SUBPREF      363 non-null    object
 10  SETOR               363 non-null    object
 11  SEXO                363 non-null    object
 12  ANO_NASCIMENTO      363 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 39.7+ KB

In [28]:
## Mostrar a quantidade de observações cujo valor na coluna 'SEXO' É 'MASCULINO' e o valor na coluna 'ANO_NASCIMENTO' é menor ou igual a 1959
masc_1959 = bibliotecas[(bibliotecas['SEXO'] == 'M') & (bibliotecas['ANO_NASCIMENTO'] <= 1959)]
print(f'Quantidade de servidores do sexo masculino que completarão 65 anos em 2024: {masc_1959.shape[0]}')
fem_1959 = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1962)]
print(f'Quantidade de servidores do sexo feminino que completarão 62 anos em 2024: {fem_1959.shape[0]}')

Quantidade de servidores do sexo masculino que completarão 65 anos em 2024: 39
Quantidade de servidores do sexo feminino que completarão 62 anos em 2024: 94

In [29]:
## Transformar os valores da coluna data de admissão em datetime
bibliotecas['DATA_INICIO_EXERC'] = pd.to_datetime(bibliotecas['DATA_INICIO_EXERC'])

# Verificar se alguma data não pôde ser convertida
invalid_dates = bibliotecas[bibliotecas['DATA_INICIO_EXERC'].isna()]
print(invalid_dates)

bibliotecas.info()

Empty DataFrame
Columns: [REGISTRO, NOME, CARGO_BASICO, SEGMENTO, SUBGRUPO, ESCOL_CARGO_BASICO, CARGO_COMISSAO, DATA_INICIO_EXERC, REL_JUR_ADM, SECRET_SUBPREF, SETOR, SEXO, ANO_NASCIMENTO]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 363 entries, 151 to 121748
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            363 non-null    int64
 1   NOME                363 non-null    object
 2   CARGO_BASICO        363 non-null    object
 3   SEGMENTO            346 non-null    object
 4   SUBGRUPO            363 non-null    object
 5   ESCOL_CARGO_BASICO  363 non-null    object
 6   CARGO_COMISSAO      72 non-null     object
 7   DATA_INICIO_EXERC   363 non-null    datetime64[ns]
 8   REL_JUR_ADM         363 non-null    object
 9   SECRET_SUBPREF      363 non-null    object
 10  SETOR               363 non-null    object
 11  SEXO                363 non-null    object
 12  ANO_NASCIMENTO      363 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 39.7+ KB

In [30]:
##Contar quantos servidores ingressaram antes de 18/03/2022
antes_2022 = bibliotecas[bibliotecas['DATA_INICIO_EXERC'] < '2022-03-18']
print(f'Quantidade de servidores que ingressaram antes de 18/03/2022: {antes_2022.shape[0]}')

##Desses servidores, quantos terão mais de 20 anos de serviço até 2024
antes_2022_mais_20_serv = antes_2022[antes_2022['DATA_INICIO_EXERC'] < '2005-01-01']
print(f'Quantidade de servidores que ingressaram antes de 18/03/2022 e terão mais de 20 anos de serviço até 2024: {antes_2022_mais_20_serv.shape[0]}')

##Desses servidores, quantos são do sexo masculino e nasceram antes de 1965
antes_2022_mais_20_serv_masc = antes_2022_mais_20_serv[(antes_2022_mais_20_serv['SEXO'] == 'M') & (antes_2022_mais_20_serv['ANO_NASCIMENTO'] < 1965)]
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024 e nasceram antes de 1965: {antes_2022_mais_20_serv_masc.shape[0]}')

##Faremos o mesmo para os servidores do sexo feminino, e considerando as mulheres que nasceram antes de 1968
antes_2022_mais_20_serv_fem = antes_2022_mais_20_serv[(antes_2022_mais_20_serv['SEXO'] == 'F') & (antes_2022_mais_20_serv['ANO_NASCIMENTO'] < 1968)]
print(f'Quantidade de servidores do sexo feminino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024 e nasceram antes de 1968: {antes_2022_mais_20_serv_fem.shape[0]}')

##Dessa tabela de servidoras, quantas tem mais de 30 anos de serviço
antes_2022_mais_20_serv_fem_mais_30_serv = antes_2022_mais_20_serv_fem[antes_2022_mais_20_serv_fem['DATA_INICIO_EXERC'] < '1995-01-01']
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024, nasceram antes de 1968 e terão mais de 30 anos de serviço até 2024: {antes_2022_mais_20_serv_fem_mais_30_serv.shape[0]}')

##Dos servidores do sexo masculino que ingressaram antes de 18/03/2022, quantos terão mais de 35 anos de serviço até 2024
antes_2022_mais_20_serv_masc_mais_35_serv = antes_2022_mais_20_serv_masc[antes_2022_mais_20_serv_masc['DATA_INICIO_EXERC'] < '1990-01-01']
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024, nasceram antes de 1965 e terão mais de 35 anos de serviço até 2024: {antes_2022_mais_20_serv_masc_mais_35_serv.shape[0]}')

##Faremos projeções para o ano de 2029
##Dos servidores que entraram antes de 18/03/2022, quantos terão mais de 25 anos de serviço até 2029
antes_2022_mais_20_serv_mais_25_serv = antes_2022[antes_2022['DATA_INICIO_EXERC'] < '2009-01-01']
print(f'Quantidade de servidores que ingressaram antes de 18/03/2022 e terão mais de 25 anos de serviço até 2029: {antes_2022_mais_20_serv_mais_25_serv.shape[0]}')

Quantidade de servidores que ingressaram antes de 18/03/2022: 363
Quantidade de servidores que ingressaram antes de 18/03/2022 e terão mais de 20 anos de serviço até 2024: 280
Quantidade de servidores do sexo masculino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024 e nasceram antes de 1965: 76
Quantidade de servidores do sexo feminino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024 e nasceram antes de 1968: 136
Quantidade de servidoras do sexo feminino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024, nasceram antes de 1968 e terão mais de 30 anos de serviço até 2024: 117
Quantidade de servidores do sexo masculino que ingressaram antes de 18/03/2022, terão mais de 20 anos de serviço até 2024, nasceram antes de 1965 e terão mais de 35 anos de serviço até 2024: 14
Quantidade de servidores que ingressaram antes de 18/03/2022 e terão mais de 25 anos de serviço até 2029: 284

In [32]:
## Vamos criar um dataset, com as servidoras que tem mais de 62 anos, e no mínimo 10 anos de serviço público
servFem_possivelmente_aposentaveis = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1962) & (bibliotecas['DATA_INICIO_EXERC'] < '2014-01-01')]

##Mostrar a quantidade de servidoras aposentáveis
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962:{len(servFem_possivelmente_aposentaveis)}')

##Dentre esses servidores, quantos tem mais de 25 anos de serviço público
servFem_certamente_aposentaveis = servFem_possivelmente_aposentaveis[servFem_possivelmente_aposentaveis['DATA_INICIO_EXERC'] < '1999-01-01']
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962 e tem mais de 25 anos de serviço público:{len(servFem_certamente_aposentaveis)}')

##Faremos o mesmo para os servidores do sexo masculino
servMasc_possivelmente_aposentaveis = bibliotecas[(bibliotecas['SEXO'] == 'M') & (bibliotecas['ANO_NASCIMENTO'] <= 1959) & (bibliotecas['DATA_INICIO_EXERC'] < '2014-01-01')]
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959:{len(servMasc_possivelmente_aposentaveis)}')

servMasc_certamente_aposentaveis = servMasc_possivelmente_aposentaveis[servMasc_possivelmente_aposentaveis['DATA_INICIO_EXERC'] < '1989-01-01']
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959 e tem mais de 35 anos de serviço público:{len(servMasc_certamente_aposentaveis)}')

Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962:49
Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962 e tem mais de 25 anos de serviço público:40
Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959:19
Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959 e tem mais de 35 anos de serviço público:5

In [33]:
##criar um novo dataframe sem os servidores e servidoras que certamente se aposentarão
certamente_aposentaveis = pd.concat([servFem_certamente_aposentaveis, servMasc_certamente_aposentaveis], ignore_index=True)
certamente_aposentaveis.info()

##criar um novo dataframe sem os servidores e servidoras que possivelmente se aposentarão
possivelmente_aposentaveis = pd.concat([servFem_possivelmente_aposentaveis, servMasc_possivelmente_aposentaveis], ignore_index=True)
possivelmente_aposentaveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            45 non-null     object
 1   NOME                45 non-null     object
 2   CARGO_BASICO        45 non-null     object
 3   SEGMENTO            8 non-null      object
 4   SUBGRUPO            45 non-null     object
 5   ESCOL_CARGO_BASICO  45 non-null     object
 6   CARGO_COMISSAO      3 non-null      object
 7   DATA_INICIO_EXERC   45 non-null     datetime64[ns]
 8   REL_JUR_ADM         45 non-null     object
 9   SECRET_SUBPREF      45 non-null     object
 10  SETOR               45 non-null     object
 11  SEXO                45 non-null     object
 12  ANO_NASCIMENTO      45 non-null     int32
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 4.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            68 non-null     object
 1   NOME                68 non-null     object
 2   CARGO_BASICO        68 non-null     object
 3   SEGMENTO            14 non-null     object
 4   SUBGRUPO            68 non-null     object
 5   ESCOL_CARGO_BASICO  68 non-null     object
 6   CARGO_COMISSAO      8 non-null      object
 7   DATA_INICIO_EXERC   68 non-null     datetime64[ns]
 8   REL_JUR_ADM         68 non-null     object
 9   SECRET_SUBPREF      68 non-null     object
 10  SETOR               68 non-null     object
 11  SEXO                68 non-null     object
 12  ANO_NASCIMENTO      68 non-null     int32
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 6.8+ KB

In [34]:
##Removendo do dataset original os servidores e servidoras que certamente se aposentarão, usando a coluna REGISTRO como chave
servidores_restantes = bibliotecas[~bibliotecas['REGISTRO'].isin(certamente_aposentaveis['REGISTRO'])]
servidores_restantes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 294 entries, 57516 to 127354
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            294 non-null    object
 1   NOME                294 non-null    object
 2   CARGO_BASICO        294 non-null    object
 3   SEGMENTO            99 non-null     object
 4   SUBGRUPO            294 non-null    object
 5   ESCOL_CARGO_BASICO  294 non-null    object
 6   CARGO_COMISSAO      65 non-null     object
 7   DATA_INICIO_EXERC   294 non-null    datetime64[ns]
 8   REL_JUR_ADM         294 non-null    object
 9   SECRET_SUBPREF      294 non-null    object
 10  SETOR               294 non-null    object
 11  SEXO                294 non-null    object
 12  ANO_NASCIMENTO      294 non-null    int32
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 31.0+ KB

In [35]:
##Verificando após a remoção de servidores que possivelmente se aposentarão, quantos servidores restaram em cada setor
setores_contagem_apos = servidores_restantes['SETOR'].value_counts()
setores_contagem_apos = setores_contagem_apos.reset_index()
setores_contagem_apos.columns = ['SETOR', 'QUANTIDADE']
setores_contagem_apos = setores_contagem_apos.sort_values(by='QUANTIDADE', ascending=False)
print(setores_contagem_apos)

                                                SETOR  QUANTIDADE
0                           SUPERVISAO DE BIBLIOTECAS          32
1     COORDENACAO DO SISTEMA MUNICIPAL DE BIBLIOTECAS          14
2        BIBLIOTECA PUBLICA MUNICIPAL AFONSO SCHIMIDT          11
3        BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO           9
4     BIBLIOTECA PUBLICA MUNICIPAL VINICIUS DE MORAES           7
5   BIBLIOTECA PUBLICA MUNICIPAL PE. JOSE DE ANCHIETA           7
6    BIBLIOTECA PUBLICA MUNICIPAL RAIMUNDO DE MENEZES           7
7          BIBLIOTECA PUBLICA MUNICIPAL RICARDO RAMOS           7
11    BIBLIOTECA PUBLICA MUNICIPAL ALVARES DE AZEVEDO           6
13         BIBLIOTECA PUBLICA MUNICIPAL CORA CORALINA           6
12   BIBLIOTECA PUBLICA MUNICIPAL MENOTTI DEL PICCHIA           6
10        BIBLIOTECA PUBLICA MUNICIPAL VIRIATO CORREA           6
9   BIBLIOTECA PUBLICA MUNICIPAL JAMIL ALMANSUR HADDA           6
8             BIBLIOTECA PUBLICA MUNICIPAL ANNE FRANK           6
21    BIBLIOTECA PUBLICA MUNICIPAL ADELPHA FIGUEIREDO           5
26          BIBLIOTECA PUBLICA MUNICIPAL CASTRO ALVES           5
25  BIBLIOTECA PUBLICA MUNICIPAL CAMILA CERQUEIRA ...           5
24       BIBLIOTECA PUBLICA MUNICIPAL AURELIANO LEITE           5
23  BIBLIOTECA PUBLICA MUNICIPAL HANS CHRISTIAN ANDER           5
22    BIBLIOTECA PUBLICA MUNICIPAL ALCEU AMOROSO LIMA           5
16                    NUCLEO DE BIBLIOTECAS ESPECIAIS           5
20  BIBLIOTECA PUBLICA MUNICIPAL JOSE MAURO DE VASCON           5
19  BIBLIOTECA PUBLICA MUNICIPAL JOVINA ROCHA ALVARES           5
18     BIBLIOTECA PUBLICA MUNICIPAL LENYRA FRACCAROLI           5
17            BIBLIOTECA PUBLICA MUNICIPAL MARCOS REY           5
15            BIBLIOTECA PUBLICA MUNICIPAL PEDRO NAVA           5
14        BIBLIOTECA PUBLICA MUNICIPAL ROBERTO SANTOS           5
34       BIBLIOTECA PUBLICA MUNICIPAL MARIO SCHENBERG           4
39     BIBLIOTECA PUBLICA MUNICIPAL CLARICE LISPECTOR           4
38        BIBLIOTECA PUBLICA MUNICIPAL NUTO SANT'ANNA           4
37       BIBLIOTECA PUBLICA MUNICIPAL ERICO VERISSIMO           4
36           BIBLIOTECA PUBLICA MUNICIPAL MALBA TAHAN           4
35         BIBLIOTECA PUBLICA MUNICIPAL NARBAL FONTES           4
29  BIBLIOTECA PUBLICA MUNICIPAL VICENTE PAULO GUI...           4
33              BIBLIOTECA PUBLICA MUNICIPAL BELMONTE           4
31  BIBLIOTECA PUBLICA MUNICIPAL SERGIO BUARQUE DE...           4
30   BIBLIOTECA PUBLICA MUNICIPAL VICENTE DE CARVALHO           4
28  BIBLIOTECA PUBLICA MUNICIPAL PAULO SERGIO DUAR...           4
27  BIBLIOTECA PUBLICA MUNICIPAL PREFEITO PRESTES MAI           4
32  BIBLIOTECA PUBLICA MUNICIPAL RUBENS BORBA ALVE...           4
45           BIBLIOTECA PUBLICA MUNICIPAL BRITO BROCA           3
49      BIBLIOTECA PUBLICA MUNICIPAL CASSIANO RICARDO           3
48       BIBLIOTECA PUBLICA MUNICIPAL HELENA SILVEIRA           3
47  BIBLIOTECA PUBLICA MUNICIPAL PROF ARNALDO MAGA...           3
46             BIBLIOTECA PUBLICA MUNICIPAL RAUL BOPP           3
44          BIBLIOTECA PUBLICA MUNICIPAL JAYME CORTEZ           3
43  BIBLIOTECA PUBLICA MUNICIPAL THALES CASTANHO D...           3
42       BIBLIOTECA PUBLICA MUNICIPAL JOSE PAULO PAES           3
41         BIBLIOTECA PUBLICA MUNICIPAL MILTON SANTOS           3
40        BIBLIOTECA PUBLICA MUNICIPAL AFFONSO TAUNAY           3
50    BIBLIOTECA PUBLICA MUNICIPAL CHACARA DO CASTELO           2
51         BIBLIOTECA PUBLICA MUNICIPAL SYLVIA ORTHOF           2
52       BIBLIOTECA PUBLICA MUNICIPAL GILBERTO FREYRE           2
53         BIBLIOTECA PUBLICA MUNICIPAL AMADEU AMARAL           2
54         BIBLIOTECA PUBLICA MUNICIPAL ALVARO GUERRA           2
55         BIBLIOTECA PUBLICA MUNICIPAL PAULO SETUBAL           2
56  NUCLEO REGIONAL DE BIBLIOTECAS CENTRO, NORTE E...           2
57          BIBLIOTECA PUBLICA MUNICIPAL PAULO DUARTE           2
58         NUCLEO REGIONAL DE BIBLIOTECAS LESTE E SUL           1

In [36]:
##Do dataframe bibliotecas, extrairemos um dataset com as servidoras que terão mais de 57 anos ao final de 2024, e que terão mais de 30 anos de serviço público
servidoras_30mais = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1967) & (bibliotecas['DATA_INICIO_EXERC'] < '1994-01-01')]
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 1994 e nasceram em/antes de 1967:{len(servidoras_30mais)}')

Quantidade de servidoras do sexo feminino que ingressaram antes de 1994 e nasceram em/antes de 1967:61

In [37]:
##Faremos uma projeção para o final de 2029, e verificaremos quantas servidoras terão mais de 62 anos, e mais de 10 anos de serviço público
proj_4anos_servidoras_62_10 = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1967) & (bibliotecas['DATA_INICIO_EXERC'] < '2020-01-01')]
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2020 e nasceram em/antes de 1967:{len(proj_4anos_servidoras_62_10)}')

##Vamos verificar quantas dessas terão mais de 25 anos de serviço público
proj_4anos_servidoras_62_25 = proj_4anos_servidoras_62_10[proj_4anos_servidoras_62_10['DATA_INICIO_EXERC'] < '2005-01-01']
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2019 e nasceram em/antes de 1967 e tem mais de 25 anos de serviço público:{len(proj_4anos_servidoras_62_25)}')

##Faremos o mesmo para os servidores do sexo masculino
proj_4anos_servidores_65_10 = bibliotecas[(bibliotecas['SEXO'] == 'M') & (bibliotecas['ANO_NASCIMENTO'] <= 1964) & (bibliotecas['DATA_INICIO_EXERC'] < '2020-01-01')]
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2020 e nasceram em/antes de 1964:{len(proj_4anos_servidores_65_10)}')

proj_4anos_servidores_65_25 = proj_4anos_servidores_65_10[proj_4anos_servidores_65_10['DATA_INICIO_EXERC'] < '2005-01-01']
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2019 e nasceram em/antes de 1964 e tem mais de 25 anos de serviço público:{len(proj_4anos_servidores_65_25)}')

Quantidade de servidoras do sexo feminino que ingressaram antes de 2020 e nasceram em/antes de 1967:86
Quantidade de servidoras do sexo feminino que ingressaram antes de 2019 e nasceram em/antes de 1967 e tem mais de 25 anos de serviço público:74
Quantidade de servidores do sexo masculino que ingressaram antes de 2020 e nasceram em/antes de 1964:50
Quantidade de servidores do sexo masculino que ingressaram antes de 2019 e nasceram em/antes de 1964 e tem mais de 25 anos de serviço público:48