In [25]:
## Importar as bibliotecas
import pandas as pd

In [26]:
## Carregar o arquivo csv
df = pd.read_csv(r'c:\Repos\tcc-bruna\fonte.csv')

C:\Users\freda\AppData\Local\Temp\ipykernel_15168\3146870232.py:2: DtypeWarning: Columns (0,1,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'c:\Repos\tcc-bruna\fonte.csv')

In [27]:
## Verificar o formato dos dados
df.info()
df.head()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130778 entries, 0 to 130777
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   REGISTRO              130778 non-null  object
 1   VINCULO               130778 non-null  object
 2   NOME                  130778 non-null  object
 3   CARGO_BASICO          130753 non-null  object
 4   REF_CARGO_BAS         130753 non-null  object
 5   SEGMENTO              44666 non-null   object
 6   GRUPO                 130778 non-null  object
 7   SUBGRUPO              130778 non-null  object
 8   ESCOL_CARGO_BASICO    130778 non-null  object
 9   CARGO_COMISSAO        7327 non-null    object
 10  REF_CARGO_COM         7327 non-null    object
 11  ESCOL_CARGO_COMISSAO  7327 non-null    object
 12  JORNADA               130778 non-null  object
 13  DATA_INICIO_EXERC     130778 non-null  object
 14  REL_JUR_ADM           130778 non-null  object
 15  SECRET_SUBPREF        130776 non-null  object
 16  SETOR                 130776 non-null  object
 17  ORGAO_EXT             1242 non-null    object
 18  SEXO                  130778 non-null  object
 19  ANO_NASCIMENTO        130778 non-null  object
 20  RACA                  130776 non-null  object
 21  DEFICIENTE            130776 non-null  object
dtypes: object(22)
memory usage: 22.0+ MB

Index(['REGISTRO', 'VINCULO', 'NOME', 'CARGO_BASICO', 'REF_CARGO_BAS',
       'SEGMENTO', 'GRUPO', 'SUBGRUPO', 'ESCOL_CARGO_BASICO', 'CARGO_COMISSAO',
       'REF_CARGO_COM', 'ESCOL_CARGO_COMISSAO', 'JORNADA', 'DATA_INICIO_EXERC',
       'REL_JUR_ADM', 'SECRET_SUBPREF', 'SETOR', 'ORGAO_EXT', 'SEXO',
       'ANO_NASCIMENTO', 'RACA', 'DEFICIENTE'],
      dtype='object')

In [28]:
## Verificar a quantidade de valores nulos
df.isnull().sum()
## Remover as linhas que possuem valor nulo na coluna 'SETOR'
df = df.dropna(subset=['SETOR'])

In [29]:
## Selecionar as linhas que utilizaremos na análise
## Vamos remover todas as observações que não possuem a substring ''BIBLIOTECA'' na coluna 'SETOR'
df_bibliotecas = df[df['SETOR'].str.contains('BIBLIOTECA')]

In [30]:
## Verificar o formato dos dados resultantes
df_bibliotecas.info()
df_bibliotecas.head()
df_bibliotecas.describe()
df_bibliotecas.columns

<class 'pandas.core.frame.DataFrame'>
Index: 354 entries, 115 to 127354
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REGISTRO              354 non-null    object
 1   VINCULO               354 non-null    object
 2   NOME                  354 non-null    object
 3   CARGO_BASICO          354 non-null    object
 4   REF_CARGO_BAS         354 non-null    object
 5   SEGMENTO              116 non-null    object
 6   GRUPO                 354 non-null    object
 7   SUBGRUPO              354 non-null    object
 8   ESCOL_CARGO_BASICO    354 non-null    object
 9   CARGO_COMISSAO        69 non-null     object
 10  REF_CARGO_COM         69 non-null     object
 11  ESCOL_CARGO_COMISSAO  69 non-null     object
 12  JORNADA               354 non-null    object
 13  DATA_INICIO_EXERC     354 non-null    object
 14  REL_JUR_ADM           354 non-null    object
 15  SECRET_SUBPREF        354 non-null    object
 16  SETOR                 354 non-null    object
 17  ORGAO_EXT             5 non-null      object
 18  SEXO                  354 non-null    object
 19  ANO_NASCIMENTO        354 non-null    object
 20  RACA                  354 non-null    object
 21  DEFICIENTE            354 non-null    object
dtypes: object(22)
memory usage: 63.6+ KB

Index(['REGISTRO', 'VINCULO', 'NOME', 'CARGO_BASICO', 'REF_CARGO_BAS',
       'SEGMENTO', 'GRUPO', 'SUBGRUPO', 'ESCOL_CARGO_BASICO', 'CARGO_COMISSAO',
       'REF_CARGO_COM', 'ESCOL_CARGO_COMISSAO', 'JORNADA', 'DATA_INICIO_EXERC',
       'REL_JUR_ADM', 'SECRET_SUBPREF', 'SETOR', 'ORGAO_EXT', 'SEXO',
       'ANO_NASCIMENTO', 'RACA', 'DEFICIENTE'],
      dtype='object')

In [31]:
##Identificar os valores distintos da coluna 'SETOR'
df_bibliotecas['SETOR'].unique()

##Ordenar a lista de bibliotecas em ordem alfabética
df_bibliotecas = df_bibliotecas.sort_values(by='SETOR')

##Remover as linhas cuja variável 'SETOR' é BIBLIOTECA MUNICIPAL MARIO DE ANDRADE , BIBLIOTECA PUBLICA MUNICIPAL LOUIS BRAILLE, BIBLIOTECA PUBLICA MUNICIPAL SERGIO MILLIET, BIBLIOTECA JOAO CABRAL DE MELO NETO (CEU), BIBLIOTECA JORNALISTA ROBERTO MARINHO (CEU) e BIBLIOTECA RACHEL DE QUEIROZ (CEU)
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA MUNICIPAL MARIO DE ANDRADE')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA PUBLICA MUNICIPAL LOUIS BRAILLE')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA PUBLICA MUNICIPAL SERGIO MILLIET')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA JOAO CABRAL DE MELO NETO')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA JORNALISTA ROBERTO MARINHO')]
df_bibliotecas = df_bibliotecas[~df_bibliotecas['SETOR'].str.contains('BIBLIOTECA RACHEL DE QUEIROZ')]

In [32]:
##Mostar a lista de bibliotecas distinta
df_bibliotecas['SETOR'].unique()

##Mostrar as informações dos setores
setores_contagem = df_bibliotecas['SETOR'].value_counts()
setores_contagem = setores_contagem.reset_index()
setores_contagem.columns = ['SETOR', 'QUANTIDADE']
setores_contagem = setores_contagem.sort_values(by='QUANTIDADE', ascending=False)
print(setores_contagem)

                                                SETOR  QUANTIDADE
0                           SUPERVISAO DE BIBLIOTECAS          36
1     COORDENACAO DO SISTEMA MUNICIPAL DE BIBLIOTECAS          14
2        BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO          12
3        BIBLIOTECA PUBLICA MUNICIPAL AFONSO SCHIMIDT          11
4    BIBLIOTECA PUBLICA MUNICIPAL RAIMUNDO DE MENEZES           9
5     BIBLIOTECA PUBLICA MUNICIPAL VINICIUS DE MORAES           8
6   BIBLIOTECA PUBLICA MUNICIPAL JOVINA ROCHA ALVARES           8
7   BIBLIOTECA PUBLICA MUNICIPAL PE. JOSE DE ANCHIETA           8
8          BIBLIOTECA PUBLICA MUNICIPAL RICARDO RAMOS           8
9     BIBLIOTECA PUBLICA MUNICIPAL ALVARES DE AZEVEDO           8
10         BIBLIOTECA PUBLICA MUNICIPAL CORA CORALINA           7
11  BIBLIOTECA PUBLICA MUNICIPAL HANS CHRISTIAN ANDER           7
17  BIBLIOTECA PUBLICA MUNICIPAL PREFEITO PRESTES MAI           6
20  BIBLIOTECA PUBLICA MUNICIPAL JAMIL ALMANSUR HADDA           6
19        BIBLIOTECA PUBLICA MUNICIPAL VIRIATO CORREA           6
18   BIBLIOTECA PUBLICA MUNICIPAL VICENTE DE CARVALHO           6
14     BIBLIOTECA PUBLICA MUNICIPAL LENYRA FRACCAROLI           6
16            BIBLIOTECA PUBLICA MUNICIPAL ANNE FRANK           6
15        BIBLIOTECA PUBLICA MUNICIPAL ROBERTO SANTOS           6
13  BIBLIOTECA PUBLICA MUNICIPAL JOSE MAURO DE VASCON           6
12   BIBLIOTECA PUBLICA MUNICIPAL MENOTTI DEL PICCHIA           6
37       BIBLIOTECA PUBLICA MUNICIPAL ERICO VERISSIMO           5
36           BIBLIOTECA PUBLICA MUNICIPAL MALBA TAHAN           5
35       BIBLIOTECA PUBLICA MUNICIPAL HELENA SILVEIRA           5
34          BIBLIOTECA PUBLICA MUNICIPAL CASTRO ALVES           5
33  BIBLIOTECA PUBLICA MUNICIPAL CAMILA CERQUEIRA ...           5
32           BIBLIOTECA PUBLICA MUNICIPAL BRITO BROCA           5
31       BIBLIOTECA PUBLICA MUNICIPAL AURELIANO LEITE           5
30    BIBLIOTECA PUBLICA MUNICIPAL ALCEU AMOROSO LIMA           5
29       BIBLIOTECA PUBLICA MUNICIPAL MARIO SCHENBERG           5
28    BIBLIOTECA PUBLICA MUNICIPAL ADELPHA FIGUEIREDO           5
26  BIBLIOTECA PUBLICA MUNICIPAL SERGIO BUARQUE DE...           5
25  BIBLIOTECA PUBLICA MUNICIPAL RUBENS BORBA ALVE...           5
24            BIBLIOTECA PUBLICA MUNICIPAL MARCOS REY           5
23  BIBLIOTECA PUBLICA MUNICIPAL PAULO SERGIO DUAR...           5
22  BIBLIOTECA PUBLICA MUNICIPAL VICENTE PAULO GUI...           5
21                    NUCLEO DE BIBLIOTECAS ESPECIAIS           5
27            BIBLIOTECA PUBLICA MUNICIPAL PEDRO NAVA           5
42        BIBLIOTECA PUBLICA MUNICIPAL NUTO SANT'ANNA           4
45         BIBLIOTECA PUBLICA MUNICIPAL NARBAL FONTES           4
43         BIBLIOTECA PUBLICA MUNICIPAL MILTON SANTOS           4
44       BIBLIOTECA PUBLICA MUNICIPAL JOSE PAULO PAES           4
41        BIBLIOTECA PUBLICA MUNICIPAL AFFONSO TAUNAY           4
39              BIBLIOTECA PUBLICA MUNICIPAL BELMONTE           4
38     BIBLIOTECA PUBLICA MUNICIPAL CLARICE LISPECTOR           4
40  BIBLIOTECA PUBLICA MUNICIPAL THALES CASTANHO D...           4
49         BIBLIOTECA PUBLICA MUNICIPAL SYLVIA ORTHOF           3
52         BIBLIOTECA PUBLICA MUNICIPAL PAULO SETUBAL           3
51      BIBLIOTECA PUBLICA MUNICIPAL CASSIANO RICARDO           3
50          BIBLIOTECA PUBLICA MUNICIPAL JAYME CORTEZ           3
48  BIBLIOTECA PUBLICA MUNICIPAL PROF ARNALDO MAGA...           3
47         BIBLIOTECA PUBLICA MUNICIPAL AMADEU AMARAL           3
46             BIBLIOTECA PUBLICA MUNICIPAL RAUL BOPP           3
53          BIBLIOTECA PUBLICA MUNICIPAL PAULO DUARTE           2
54         BIBLIOTECA PUBLICA MUNICIPAL ALVARO GUERRA           2
55       BIBLIOTECA PUBLICA MUNICIPAL GILBERTO FREYRE           2
56  NUCLEO REGIONAL DE BIBLIOTECAS CENTRO, NORTE E...           2
57    BIBLIOTECA PUBLICA MUNICIPAL CHACARA DO CASTELO           2
58         NUCLEO REGIONAL DE BIBLIOTECAS LESTE E SUL           1

In [33]:
##Removendo as colunas que não serão utilizadas
bibliotecas = df_bibliotecas.drop(columns=['VINCULO', 'REF_CARGO_BAS', 'GRUPO', 'REF_CARGO_COM', 'ESCOL_CARGO_COMISSAO', 'JORNADA', 'ORGAO_EXT', 'RACA', 'DEFICIENTE'])

In [34]:
##Info da base de dados limpa
bibliotecas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339 entries, 57516 to 127354
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            339 non-null    object
 1   NOME                339 non-null    object
 2   CARGO_BASICO        339 non-null    object
 3   SEGMENTO            107 non-null    object
 4   SUBGRUPO            339 non-null    object
 5   ESCOL_CARGO_BASICO  339 non-null    object
 6   CARGO_COMISSAO      68 non-null     object
 7   DATA_INICIO_EXERC   339 non-null    object
 8   REL_JUR_ADM         339 non-null    object
 9   SECRET_SUBPREF      339 non-null    object
 10  SETOR               339 non-null    object
 11  SEXO                339 non-null    object
 12  ANO_NASCIMENTO      339 non-null    object
dtypes: object(13)
memory usage: 37.1+ KB

In [35]:
## Transformando a coluna ANO_NASCIMENTO em inteiro
bibliotecas['ANO_NASCIMENTO'] = bibliotecas['ANO_NASCIMENTO'].astype(int)

## Contar a quantidade de observações cujo valor na coluna 'SEXO' É 'MASCULINO' e o valor na coluna 'ANO_NASCIMENTO' é menor ou igual a 1959
masc_1959 = bibliotecas[(bibliotecas['SEXO'] == 'M') & (bibliotecas['ANO_NASCIMENTO'] <= 1959)].shape[0]
print(f'Quantidade de servidores do sexo masculino que completarão 65 anos em 2024: {masc_1959}')
fem_1959 = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1962)].shape[0]
print(f'Quantidade de servidores do sexo feminino que completarão 62 anos em 2024: {fem_1959}')

Quantidade de servidores do sexo masculino que completarão 65 anos em 2024: 27
Quantidade de servidores do sexo feminino que completarão 62 anos em 2024: 51

In [36]:
## Transformar os valores da coluna data de admissão em datetime
bibliotecas['DATA_INICIO_EXERC'] = pd.to_datetime(bibliotecas['DATA_INICIO_EXERC'])

# Verificar se alguma data não pôde ser convertida
invalid_dates = bibliotecas[bibliotecas['DATA_INICIO_EXERC'].isna()]
print(invalid_dates)

Empty DataFrame
Columns: [REGISTRO, NOME, CARGO_BASICO, SEGMENTO, SUBGRUPO, ESCOL_CARGO_BASICO, CARGO_COMISSAO, DATA_INICIO_EXERC, REL_JUR_ADM, SECRET_SUBPREF, SETOR, SEXO, ANO_NASCIMENTO]
Index: []

In [37]:
##Contar quantos servidores ingressaram antes de 18/03/2022
antes_2022 = bibliotecas[bibliotecas['DATA_INICIO_EXERC'] < '2022-03-18'].shape[0]
print(f'Quantidade de servidores que ingressaram antes de 18/03/2022: {antes_2022}')

Quantidade de servidores que ingressaram antes de 18/03/2022: 254

In [38]:
## Vamos criar um dataset, com as servidoras que tem mais de 62 anos, e no mínimo 10 anos de serviço público
servidoras_possivelmente_aposentaveis = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1962) & (bibliotecas['DATA_INICIO_EXERC'] < '2014-01-01')]

##Mostrar a quantidade de servidoras aposentáveis
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962:{len(servidoras_possivelmente_aposentaveis)}')

##Dentre esses servidores, quantos tem mais de 25 anos de serviço público
servidoras_certamente_aposentaveis = servidoras_possivelmente_aposentaveis[servidoras_possivelmente_aposentaveis['DATA_INICIO_EXERC'] < '1999-01-01']
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962 e tem mais de 25 anos de serviço público:{len(servidoras_certamente_aposentaveis)}')

##Faremos o mesmo para os servidores do sexo masculino
servidores_possivelmente_aposentaveis = bibliotecas[(bibliotecas['SEXO'] == 'M') & (bibliotecas['ANO_NASCIMENTO'] <= 1959) & (bibliotecas['DATA_INICIO_EXERC'] < '2014-01-01')]
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959:{len(servidores_possivelmente_aposentaveis)}')

servidores_certamente_aposentaveis = servidores_possivelmente_aposentaveis[servidores_possivelmente_aposentaveis['DATA_INICIO_EXERC'] < '1989-01-01']
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959 e tem mais de 35 anos de serviço público:{len(servidores_certamente_aposentaveis)}')


##Criar um novo dataframe com os servidores que ingressaram antes de 19 e nasceram em ou antes de 1959

Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962:49
Quantidade de servidoras do sexo feminino que ingressaram antes de 2014 e nasceram em/antes de 1962 e tem mais de 25 anos de serviço público:40
Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959:19
Quantidade de servidores do sexo masculino que ingressaram antes de 2014 e nasceram em/antes de 1959 e tem mais de 35 anos de serviço público:5

In [39]:
##criar um novo dataframe sem os servidores e servidoras que certamente se aposentarão
certamente_aposentaveis = pd.concat([servidoras_certamente_aposentaveis, servidores_certamente_aposentaveis], ignore_index=True)
certamente_aposentaveis.info()

##criar um novo dataframe sem os servidores e servidoras que possivelmente se aposentarão
possivelmente_aposentaveis = pd.concat([servidoras_possivelmente_aposentaveis, servidores_possivelmente_aposentaveis], ignore_index=True)
possivelmente_aposentaveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            45 non-null     object
 1   NOME                45 non-null     object
 2   CARGO_BASICO        45 non-null     object
 3   SEGMENTO            8 non-null      object
 4   SUBGRUPO            45 non-null     object
 5   ESCOL_CARGO_BASICO  45 non-null     object
 6   CARGO_COMISSAO      3 non-null      object
 7   DATA_INICIO_EXERC   45 non-null     datetime64[ns]
 8   REL_JUR_ADM         45 non-null     object
 9   SECRET_SUBPREF      45 non-null     object
 10  SETOR               45 non-null     object
 11  SEXO                45 non-null     object
 12  ANO_NASCIMENTO      45 non-null     int32
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 4.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            68 non-null     object
 1   NOME                68 non-null     object
 2   CARGO_BASICO        68 non-null     object
 3   SEGMENTO            14 non-null     object
 4   SUBGRUPO            68 non-null     object
 5   ESCOL_CARGO_BASICO  68 non-null     object
 6   CARGO_COMISSAO      8 non-null      object
 7   DATA_INICIO_EXERC   68 non-null     datetime64[ns]
 8   REL_JUR_ADM         68 non-null     object
 9   SECRET_SUBPREF      68 non-null     object
 10  SETOR               68 non-null     object
 11  SEXO                68 non-null     object
 12  ANO_NASCIMENTO      68 non-null     int32
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 6.8+ KB

In [41]:
##Removendo do dataset original os servidores e servidoras que certamente se aposentarão, usando a coluna REGISTRO como chave
servidores_restantes = bibliotecas[~bibliotecas['REGISTRO'].isin(certamente_aposentaveis['REGISTRO'])]
servidores_restantes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 294 entries, 57516 to 127354
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REGISTRO            294 non-null    object
 1   NOME                294 non-null    object
 2   CARGO_BASICO        294 non-null    object
 3   SEGMENTO            99 non-null     object
 4   SUBGRUPO            294 non-null    object
 5   ESCOL_CARGO_BASICO  294 non-null    object
 6   CARGO_COMISSAO      65 non-null     object
 7   DATA_INICIO_EXERC   294 non-null    datetime64[ns]
 8   REL_JUR_ADM         294 non-null    object
 9   SECRET_SUBPREF      294 non-null    object
 10  SETOR               294 non-null    object
 11  SEXO                294 non-null    object
 12  ANO_NASCIMENTO      294 non-null    int32
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 31.0+ KB

In [43]:
##Verificando após a remoção de servidores que possivelmente se aposentarão, quantos servidores restaram em cada setor
setores_contagem_apos = servidores_restantes['SETOR'].value_counts()
setores_contagem_apos = setores_contagem_apos.reset_index()
setores_contagem_apos.columns = ['SETOR', 'QUANTIDADE']
setores_contagem_apos = setores_contagem_apos.sort_values(by='QUANTIDADE', ascending=False)
print(setores_contagem_apos)

                                                SETOR  QUANTIDADE
0                           SUPERVISAO DE BIBLIOTECAS          32
1     COORDENACAO DO SISTEMA MUNICIPAL DE BIBLIOTECAS          14
2        BIBLIOTECA PUBLICA MUNICIPAL AFONSO SCHIMIDT          11
3        BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO           9
4     BIBLIOTECA PUBLICA MUNICIPAL VINICIUS DE MORAES           7
5   BIBLIOTECA PUBLICA MUNICIPAL PE. JOSE DE ANCHIETA           7
6    BIBLIOTECA PUBLICA MUNICIPAL RAIMUNDO DE MENEZES           7
7          BIBLIOTECA PUBLICA MUNICIPAL RICARDO RAMOS           7
11    BIBLIOTECA PUBLICA MUNICIPAL ALVARES DE AZEVEDO           6
13         BIBLIOTECA PUBLICA MUNICIPAL CORA CORALINA           6
12   BIBLIOTECA PUBLICA MUNICIPAL MENOTTI DEL PICCHIA           6
10        BIBLIOTECA PUBLICA MUNICIPAL VIRIATO CORREA           6
9   BIBLIOTECA PUBLICA MUNICIPAL JAMIL ALMANSUR HADDA           6
8             BIBLIOTECA PUBLICA MUNICIPAL ANNE FRANK           6
21    BIBLIOTECA PUBLICA MUNICIPAL ADELPHA FIGUEIREDO           5
26          BIBLIOTECA PUBLICA MUNICIPAL CASTRO ALVES           5
25  BIBLIOTECA PUBLICA MUNICIPAL CAMILA CERQUEIRA ...           5
24       BIBLIOTECA PUBLICA MUNICIPAL AURELIANO LEITE           5
23  BIBLIOTECA PUBLICA MUNICIPAL HANS CHRISTIAN ANDER           5
22    BIBLIOTECA PUBLICA MUNICIPAL ALCEU AMOROSO LIMA           5
16                    NUCLEO DE BIBLIOTECAS ESPECIAIS           5
20  BIBLIOTECA PUBLICA MUNICIPAL JOSE MAURO DE VASCON           5
19  BIBLIOTECA PUBLICA MUNICIPAL JOVINA ROCHA ALVARES           5
18     BIBLIOTECA PUBLICA MUNICIPAL LENYRA FRACCAROLI           5
17            BIBLIOTECA PUBLICA MUNICIPAL MARCOS REY           5
15            BIBLIOTECA PUBLICA MUNICIPAL PEDRO NAVA           5
14        BIBLIOTECA PUBLICA MUNICIPAL ROBERTO SANTOS           5
34       BIBLIOTECA PUBLICA MUNICIPAL MARIO SCHENBERG           4
39     BIBLIOTECA PUBLICA MUNICIPAL CLARICE LISPECTOR           4
38        BIBLIOTECA PUBLICA MUNICIPAL NUTO SANT'ANNA           4
37       BIBLIOTECA PUBLICA MUNICIPAL ERICO VERISSIMO           4
36           BIBLIOTECA PUBLICA MUNICIPAL MALBA TAHAN           4
35         BIBLIOTECA PUBLICA MUNICIPAL NARBAL FONTES           4
29  BIBLIOTECA PUBLICA MUNICIPAL VICENTE PAULO GUI...           4
33              BIBLIOTECA PUBLICA MUNICIPAL BELMONTE           4
31  BIBLIOTECA PUBLICA MUNICIPAL SERGIO BUARQUE DE...           4
30   BIBLIOTECA PUBLICA MUNICIPAL VICENTE DE CARVALHO           4
28  BIBLIOTECA PUBLICA MUNICIPAL PAULO SERGIO DUAR...           4
27  BIBLIOTECA PUBLICA MUNICIPAL PREFEITO PRESTES MAI           4
32  BIBLIOTECA PUBLICA MUNICIPAL RUBENS BORBA ALVE...           4
45           BIBLIOTECA PUBLICA MUNICIPAL BRITO BROCA           3
49      BIBLIOTECA PUBLICA MUNICIPAL CASSIANO RICARDO           3
48       BIBLIOTECA PUBLICA MUNICIPAL HELENA SILVEIRA           3
47  BIBLIOTECA PUBLICA MUNICIPAL PROF ARNALDO MAGA...           3
46             BIBLIOTECA PUBLICA MUNICIPAL RAUL BOPP           3
44          BIBLIOTECA PUBLICA MUNICIPAL JAYME CORTEZ           3
43  BIBLIOTECA PUBLICA MUNICIPAL THALES CASTANHO D...           3
42       BIBLIOTECA PUBLICA MUNICIPAL JOSE PAULO PAES           3
41         BIBLIOTECA PUBLICA MUNICIPAL MILTON SANTOS           3
40        BIBLIOTECA PUBLICA MUNICIPAL AFFONSO TAUNAY           3
50    BIBLIOTECA PUBLICA MUNICIPAL CHACARA DO CASTELO           2
51         BIBLIOTECA PUBLICA MUNICIPAL SYLVIA ORTHOF           2
52       BIBLIOTECA PUBLICA MUNICIPAL GILBERTO FREYRE           2
53         BIBLIOTECA PUBLICA MUNICIPAL AMADEU AMARAL           2
54         BIBLIOTECA PUBLICA MUNICIPAL ALVARO GUERRA           2
55         BIBLIOTECA PUBLICA MUNICIPAL PAULO SETUBAL           2
56  NUCLEO REGIONAL DE BIBLIOTECAS CENTRO, NORTE E...           2
57          BIBLIOTECA PUBLICA MUNICIPAL PAULO DUARTE           2
58         NUCLEO REGIONAL DE BIBLIOTECAS LESTE E SUL           1

In [47]:
##Do dataframe bibliotecas, extrairemos um dataset com as servidoras que terão mais de 57 anos ao final de 2024, e que terão mais de 30 anos de serviço público
servidoras_30mais = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1967) & (bibliotecas['DATA_INICIO_EXERC'] < '1994-01-01')]
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 1994 e nasceram em/antes de 1967:{len(servidoras_30mais)}')

Quantidade de servidoras do sexo feminino que ingressaram antes de 1994 e nasceram em/antes de 1967:61

In [53]:
##Faremos uma projeção para o final de 2029, e verificaremos quantas servidoras terão mais de 62 anos, e mais de 10 anos de serviço público
proj_4anos_servidoras_62_10 = bibliotecas[(bibliotecas['SEXO'] == 'F') & (bibliotecas['ANO_NASCIMENTO'] <= 1967) & (bibliotecas['DATA_INICIO_EXERC'] < '2020-01-01')]
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2020 e nasceram em/antes de 1967:{len(proj_4anos_servidoras_62_10)}')

##Vamos verificar quantas dessas terão mais de 25 anos de serviço público
proj_4anos_servidoras_62_25 = proj_4anos_servidoras_62_10[proj_4anos_servidoras_62_10['DATA_INICIO_EXERC'] < '2005-01-01']
print(f'Quantidade de servidoras do sexo feminino que ingressaram antes de 2019 e nasceram em/antes de 1967 e tem mais de 25 anos de serviço público:{len(proj_4anos_servidoras_62_25)}')

##Faremos o mesmo para os servidores do sexo masculino
proj_4anos_servidores_65_10 = bibliotecas[(bibliotecas['SEXO'] == 'M') & (bibliotecas['ANO_NASCIMENTO'] <= 1964) & (bibliotecas['DATA_INICIO_EXERC'] < '2020-01-01')]
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2020 e nasceram em/antes de 1964:{len(proj_4anos_servidores_65_10)}')

proj_4anos_servidores_65_25 = proj_4anos_servidores_65_10[proj_4anos_servidores_65_10['DATA_INICIO_EXERC'] < '2005-01-01']
print(f'Quantidade de servidores do sexo masculino que ingressaram antes de 2019 e nasceram em/antes de 1964 e tem mais de 25 anos de serviço público:{len(proj_4anos_servidores_65_25)}')

Quantidade de servidoras do sexo feminino que ingressaram antes de 2020 e nasceram em/antes de 1967:86
Quantidade de servidoras do sexo feminino que ingressaram antes de 2019 e nasceram em/antes de 1967 e tem mais de 25 anos de serviço público:74
Quantidade de servidores do sexo masculino que ingressaram antes de 2020 e nasceram em/antes de 1964:50
Quantidade de servidores do sexo masculino que ingressaram antes de 2019 e nasceram em/antes de 1964 e tem mais de 25 anos de serviço público:48